window#osd {
  padding: 6px 12px;
  border-radius: 400px;
  border: none;
  background: rgba(0, 0, 0, 0.8);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #ffffff;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 400px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #404040;
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #3F51B5;
  }
}
